<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="style.css">  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Угадай мою страну</title>
</head>
<body>
    <h1>Добро пожаловать в игру "Угадай мою страну"!</h1>
    <p>Привет! Меня зовут Олимов Амир. Сможешь угадать, из какой я страны?</p>
    <form action="/result" method="post">
        <label for="country">Введите название страны:</label>
        <input type="text" id="country" name="country" required>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>

